@using System.Text.Json;
@model CreateProductModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    TempData["Categories"] = JsonSerializer.Serialize(Model.Categories);
}

<form method="post" class="w-75 m-5 p-3 mx-auto">

    <div class="mb-3">
        <label class="form-label">Ürün adı</label>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Ürün Fiyatı</label>
        <input asp-for="Price" class="form-control" />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Ürün Stoğu</label>
        <input asp-for="Stock" class="form-control" />
        <span class="text-danger" asp-validation-for="Stock"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Ürün Kategorisi</label>
        <select class="form-select" asp-items="@Model.Categories" asp-for="CategoryId">        
        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>

    <div class="mb-3">
        <button class="btn btn-success btn-sm">Ekle</button>
    </div>

    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

</form>

